@import 'bootstrap';

@mixin transition($delay, $function) {
  transition: all $delay $function;
}

body {
  //   background-color: blue;
  font-size: 14px;
}

.main-container {
  height: 80vh;
  //   background-color: blue;{
  .container {
    ul {
      box-shadow: 1px 1px 10px 2px rgba(0, 0, 255, 0.315);

      .add-task {
        .input-add {
          width: 100%;
          border: none;
          font-style: italic;

          &:focus {
            outline: none;
          }
        }

        &:hover {
          background-color: transparent;
        }
      }

      .ckeck-btn {
        margin-right: 10px;
      }

      li {
        position: relative;

        span {
          color: rgba(128, 128, 128, 0.842);
          position: absolute;
          top: 10px;
          right: 20px;
        }

        &:hover {
          background: $primary;
          color: #ffff;
          cursor: pointer;

          @include transition(0.4s, ease);
        }
      }
    }
  }
}
