@import 'bootstrap';

@mixin transition($delay, $function) {
  transition: all $delay $function;
}

body {
  //   background-color: blue;
  font-size: 14px;
}

.main-container {
  height: 80vh;
  //   background-color: blue;{
  .container {
    ul {
      box-shadow: 1px 1px 10px 2px rgba(0, 0, 255, 0.315);

      .title {
        position: relative;

        i {
          position: absolute;
          top: 10px;
          right: 20px;
          color: rgba(128, 128, 128, 0.842);
          font-size: 18px;

          &:hover {
            color: rgba(0, 0, 0, 0.945);
          }
        }
      }

      .clearMarked {
        color: rgba(128, 128, 128, 0.842);
        background-color: rgba(233, 233, 233, 0.863);
        text-decoration: underline;
      }

      .add-taskInput {
        .input-add {
          width: 100%;
          border: none;
          font-style: italic;
          color: rgba(128, 128, 128, 0.842);

          &:focus {
            outline: none;
          }
        }

        &:hover {
          background-color: #fff;
          cursor: pointer;
        }

        i {
          font-size: 20px;
          color: rgba(128, 128, 128, 0.842);
        }
      }

      .ckeck-btn {
        margin-right: 10px;
      }

      .done {
        text-decoration: line-through;
        color: rgba(128, 128, 128, 0.842);
        background-color: rgba(233, 233, 233, 0.863);
      }

      li {
        position: relative;

        span {
          color: rgba(128, 128, 128, 0.842);
          position: absolute;
          top: 10px;
          right: 20px;
        }

        &:not(.add-taskInput):hover {
          background: $primary;
          color: #ffff;
          cursor: pointer;

          @include transition(0.4s, ease);
        }
      }
    }
  }
}

.previousDrag {
  transform: scale(1.5);
}
